html * {
    font-family: 'Montserrat';
}

#title {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(to top, #11998e, #38ef7d);
}

#logo {
    margin: 10px;
    flex: 1;
    object-fit: contain;
    height: 110px;
}

#title-text {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 500;
}

#vasavimata {
    margin: 10px;
    flex: 1;
    object-fit: contain;
    height: 110px;
}

.path {
    margin: 10px;
    text-align: right;
}

.path p {
    display: inline;
}

.row {
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #38ef7d;
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
}

footer p {
    display: inline;
}