<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<table class="grid">
    <tbody>
        <tr>
            <th width="16%">Year</th>
            <td width="9%" valign="middle">93-95</td>
            <td width="9%" valign="middle">95-96</td>
            <td width="9%" valign="middle">96-97</td>
            <td width="10%" valign="middle">97-98</td>
            <td width="9%" valign="middle">98-99</td>
            <td width="9%" valign="middle">99-2k</td>
            <td width="9%" valign="middle">2K-01</td>
            <td width="10%" valign="middle">01-02</td>
            <td width="10%" valign="middle">02-03</td>
        </tr>
        <tr>
            <th>No. of Clubs added every year</th>
            <td valign="middle">8</td>
            <td valign="middle">12</td>
            <td valign="middle">17</td>
            <td valign="middle">17</td>
            <td valign="middle">24</td>
            <td valign="middle">27</td>
            <td valign="middle">35</td>
            <td valign="middle">87</td>
            <td valign="middle">209</td>
        </tr>
        <tr>
            <th width="16%">Year</th>
            <td valign="middle">03-04</td>
            <td valign="middle">04-05</td>
            <td valign="middle">05-06</td>
            <td valign="middle">06-07</td>
            <td valign="middle">2007</td>
            <td valign="middle">2008</td>
            <td valign="middle">2009</td>
            <td valign="middle">2010</td>
            <td valign="middle">2011</td>
        </tr>
        <tr>
            <th>No. of Clubs added every year</th>
            <td valign="middle">119</td>
            <td valign="middle">40</td>
            <td valign="middle">49</td>
            <td valign="middle">70</td>
            <td valign="middle">66</td>
            <td valign="middle">79</td>
            <td valign="middle">62</td>
            <td valign="middle">175</td>
            <td valign="middle">181</td>
        </tr>
    </tbody>
</table>