<div class="footer row">
    <style>
        .footer {
            position: relative;
            background-color: #38ef7d;
            font-size: 12px;
            padding-top: 5px;
        }

        .footer p {
            display: inline;
        }
    </style>
    <p>2010-2020 © - Vasavi Clubs International - All rights Reserved | Developed by
        <a href="https://www.linkedin.com/in/avinash-tadavarthy" target="_blank">Avinash Tadavarthy</a> | Check
        us out
        on </p>
    <a href="https://www.facebook.com/pages/category/Community-Organization/Vasavi-club-2-Star-KCGF-Elite-Chennai-100521401526062/"
        target="_blank"><i class="fa fa-facebook-square" style="font-size: 20px; margin-bottom: 10px;"></i></a>
</div>