<footer class="footer">
    <style>
        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: var(--global-footer-background);
            text-align: center;
            font-size: small;
            padding-top: 5px;
            line-height: 1;
        }
    </style>
    <p>Check us out on <a
            href="https://www.facebook.com/pages/category/Community-Organization/Vasavi-club-2-Star-KCGF-Elite-Chennai-100521401526062/"
            target="_blank"><i class="fa fa-facebook-square" style="font-size: 20px;"></i></a></p>
    <p>2010-2020 © - Vasavi Clubs International - All rights Reserved</p>
    <p>Developed by
        <a href="https://www.linkedin.com/in/avinash-tadavarthy" target="_blank">Avinash Tadavarthy</a></p>
</footer>